/* Common */
/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.white-color {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.clear{
    clear: both;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333%;
}

.col-full {
    width: 100%;
}

/* Main */
#main {

}


#header {
    background-color: #000;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) ;
}

#nav {
    display: inline-block; 
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav li a {
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.nav-arrow-down {
    font-size: 12px;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    line-height: 46px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 23px;
    color: #fff;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/chicago.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: normal;
}

#slider .text-description {
    font-size: 15px;
    font-weight: bold;
}


#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 16px 112px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin: 15px 0;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
}

#content .member-list {
    margin-top: 48px;
    padding: 32px 0;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#content .member-name{
    font-size: 15px;
}

/* Tour Section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list .ticket-item {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    margin-left: 16px;
    padding: 3px 5px;
}

.ticket-list .quantity {
    float: right;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: -2px;
    margin-right: 16px;
}

/* Places */
.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.7;
}

.place-body {
    background-color: #fff;
    padding: 15px 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    color: #757575;
    margin: 15px 0;
}

.place-desc {
    margin: 15px 0;
    line-height: 1.4;
}

.btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-style: none;
    padding: 12px 16px;
    display: inline-block;
    margin-bottom: 2px;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}

/* Contact Section */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*= "ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map Section */
.map-section img {
    width: 100%;
}
/* Footer Section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color:rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color:rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color:rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    min-height: 400px;
    width: 900px;
    max-width: calc(100% - 86px);
    position: relative;
    top: -128px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    color: #fff;
    background-color: #009688;
    height: 129px;
    text-align: center;
    line-height: 129px;
    font-size: 30px;
    letter-spacing: 5px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(255, 255, 255, 0.877);
    padding: 16px;
    font-size: 14px;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 8px;
    height: 40px;
    margin-bottom: 24px;
}

#buy-ticket {
    color: #fff;
    background: #009688;
    border: none;
    width: 100%;
    height: 54px;
    font-size: 18px;
    font-weight: 500;
}

#buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    font-size: 15px;
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-160px);
    }
    to {
        opacity: 100;
        transform: translateY(0);
    }
}
